/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    margin: 0;
    background-color: white;
}

header {
    height: 125px;
	background: cornflowerblue;
	display: flex;
	justify-content: space-evenly;
}

header > p {
	font-size: 100px;
	margin-left: -200px;
	color: white;
	align-self: center;
}

header > img {
	width: 125px;
	height: 100px;
	align-self: center;
}

.meme-form {
	display: flex;
	justify-content: space-between;
	margin: 20px auto;
	width: 90%;
}

.meme-form > input {
    width: 45%;
    height: 40px;
}

.meme-form > button {
    border: none;
    font-size: 25px;
    letter-spacing: 1.5px;
    color: black;
    background: cornflowerblue;
}

.meme {
	position: relative;
	margin: auto;
	width: 90%;
	margin-left: 360px;
	padding: 20px;
}

.meme > img {
	position: relative;
	width: 40%;
	margin-left: 60px;
	margin-top: -20px;
}

.meme > h2 {
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	color: white;
	width: 80%;
	left: 50%;
	transform: translateX(-80%);
    margin: 25px 0;
	padding: 0 5px;
	font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.meme > .top {
	top: 0;
}

.meme > .bottom {
	bottom: 0;
}

footer {
    height: 100px;
	background: cornflowerblue;
	display: flex;
	justify-content: space-evenly;
	color: white;
}

footer > p {
	font-size: 25px;
	align-self: center;
}

footer > ul {
	font-size: 20px;
	align-self: center;
}

ul li a {
	text-decoration: none;
	color: black;
}